:root {
  /* base text color */
  --text-color: rgba(255, 255, 255, 1);

  /* highlighted text color for items faster than PB pace */
  --highlighted-text-color: rgba(255, 128, 128, 1);

  /* timeline's background (color) */
  --timeline-background: rgba(0, 0, 0, 0.95);

  --font: normal bold 18px/1 sans-serif;
  --digits-font: normal normal 18px/1 Minecraft, monospace, sans-serif;
  --icon-size: 24px;

  --pb-timeline-width: 290px;
  --pace-timeline-width: 180px;

  /*  If you want to hide an item, uncomment it (--display-*: none;). */

  /* --display-pb-timeline: none; */
  /* --display-pace-timeline-empty: none; */
  /* --display-pb-timeline-title: none; */
  /* --display-pb-timeline-separator: none; */
  /* --display-pb-timeline-item-icon: none; */
  /* --display-pb-timeline-item-label: none; */
  /* --display-pb-timeline-item-time: none; */
  --display-pb-timeline-item-diff: none;

  /* --display-pace-timeline: none; */
  /* --display-pace-timeline-empty: none; */
  /* --display-pace-timeline-title: none; */
  /* --display-pace-timeline-separator: none; */
  /* --display-pace-timeline-item-icon: none; */
  --display-pace-timeline-item-label: none;
  /* --display-pace-timeline-item-time: none; */
  /* --display-pace-timeline-item-diff: none; */

  /* --display-pace-timeline-item-status-done: none; */
  /* --display-pace-timeline-item-status-current: none; */
  /* --display-pace-timeline-item-status-next: none; */
  /* --display-pace-timeline-item-status-todo: none; */
}

html {
  color: #333;
  background-color: transparent;
}

body {
  font: var(--font);
  color: #fff;
  padding: 0;
}

.warning {
  background-color: rgba(0, 0, 0, 0.98);
  padding: 8px;
  color: #fff;
  font-weight: bold;
  margin: 8px;
  border-radius: 8px;
}

.mcsr-widget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.mcsr-widget-container {
  display: flex;
}

.timeline {
  color: var(--text-color);
  background: var(--timeline-background);
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.timeline__title {
  text-align: center;
}

.timeline__separator {
  border: none;
  border-bottom: 2px solid var(--text-color);
  margin-bottom: 8px;
}

.timeline__container {
  margin: 4px 0;
  width: 100%;
}

.timeline__item {
  padding: 0 8px;
  height: 24px;
}

.timeline__item--highlighted {
  color: var(--highlighted-text-color);
}

.timeline__item--next {
  color: var(--text-color);
}

.timeline__item--todo {
  color: transparent;
}

.timeline__item__cell {
  vertical-align: middle;
}

.timeline__item__cell__time,
.timeline__item__cell__diff {
  text-align: right;
}

.timeline__item__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  background-repeat: no-repeat;
}

.timeline__item__time {
  font: var(--digits-font);
}

.timeline__item__diff {
  font: var(--digits-font);
  font-size: 0.8em;
}

.timeline--pb {
  width: var(--pb-timeline-width);
  display: var(--display-pb-timeline, block);
}
.timeline--pb.timeline--empty {
  display: var(--display-pb-timeline-empty, block);
}
.timeline--pb .timeline__title {
  display: var(--display-pb-timeline-title, block);
}
.timeline--pb .timeline__separator {
  display: var(--display-pb-timeline-separator, block);
}
.timeline--pb .timeline__item__cell__icon {
  display: var(--display-pb-timeline-item-icon, table-cell);
}
.timeline--pb .timeline__item__cell__label {
  display: var(--display-pb-timeline-item-label, table-cell);
}
.timeline--pb .timeline__item__cell__time {
  display: var(--display-pb-timeline-item-time, table-cell);
}
.timeline--pb .timeline__item__cell__diff {
  display: var(--display-pb-timeline-item-diff, table-cell);
}

.timeline--pace {
  width: var(--pace-timeline-width);
  display: var(--display-pace-timeline, block);
}
.timeline--pace.timeline--empty {
  display: var(--display-pace-timeline-empty, block);
}
.timeline--pace .timeline__title {
  display: var(--display-pace-timeline-title, block);
}
.timeline--pace .timeline__separator {
  display: var(--display-pace-timeline-separator, block);
}
.timeline--pace .timeline__item__cell__icon {
  display: var(--display-pace-timeline-item-icon, table-cell);
}
.timeline--pace .timeline__item__cell__label {
  display: var(--display-pace-timeline-item-label, table-cell);
}
.timeline--pace .timeline__item__cell__time {
  display: var(--display-pace-timeline-item-time, table-cell);
}
.timeline--pace .timeline__item__cell__diff {
  display: var(--display-pace-timeline-item-diff, table-cell);
}
.timeline--pace .timeline__item--done {
  display: var(--display-pace-timeline-item-status-done, table-row);
}
.timeline--pace .timeline__item--current {
  display: var(--display-pace-timeline-item-status-current, table-row);
}
.timeline--pace .timeline__item--next {
  display: var(--display-pace-timeline-item-status-next, table-row);
}
.timeline--pace .timeline__item--todo {
  display: var(
    --display-pace-timeline-item-status-todo,
    var(--display-pace-timeline-item-status-next, table-row)
  );
}
